<footer class="site__footer clearfix">

  <div class="site__footer__brand" onclick="window.pr.methods.goToTop()">
    <img class="img-block" src="{{ site.baseurl }}/assets/images/h.png" alt="PR">
  </div>

  <div class="container clearfix">

    <nav class="pull-right site__footer__menu">
      <ul class="list--unstyled list--inline site__footer__list">
        <li>
          <a target="_blank" href="{{ site.github }}">
            <i class="fab fa-github"></i>
            گیتهاب
          </a>
        </li>
        <li>
          <a target="_blank" href="{{ site.twitter }}">
            <i class="fab fa-twitter"></i>
            توییتر
          </a>
        </li>
        <li>
          <a target="_blank" href="{{ site.instagram }}">
            <i class="fab fa-instagram"></i>
            اینستاگرام
          </a>
        </li>
      </ul>
    </nav>

    <div class="pull-left text--ltr site__footer__copyright"> hosted with ❤ by <strong>GitHub</strong></div>

  </div>
</footer>
