<header class="site__header container">

  <figure class="site__header__brand">
    <a href="{{ site.url }}">
      <img src="{{ site.baseurl }}/assets/images/h.png" alt="Rashid Obaidi">
    </a>
  </figure>

  <nav class="site__header__nav">


    <ul class="list--unstyled list--inline header__list text--center">

       <li>
        <a {% if page.label == pg.label %} class="active" {% endif %} href="{{ site.baseurl }}">خانه</a>
      </li>
       <li>
        <a {% if page.label == pg.label %} class="active" {% endif %} href="{{ site.baseurl }}/categories">دسته بندی ها</a>
      </li>
       <li>
        <a {% if page.label == pg.label %} class="active" {% endif %} href="{{ site.baseurl }}/pictures">تصاویر</a>
      </li>
     <li>
        <a {% if page.label == pg.label %} class="active" {% endif %} href="{{ site.baseurl }}/projects">کارها</a>
      </li>
      
      <li>
        <a {% if page.label == pg.label %} class="active" {% endif %} href="{{ site.baseurl }}/about-me">درباره من</a>
      </li>
      
      
      <li>
        <a {% if page.label == pg.label %} class="active" {% endif %} href="{{ site.baseurl }}/contact">تماس با من</a>
      </li>
      
      
      <li>
        <a {% if page.label == pg.label %} class="active" {% endif %} href="{{ site.baseurl }}/donate">حمایت مالی <i class="fa fa-heart" style=".fa-cog {
  color: black;
}"></i></a>
      </li>
    </ul>
    <br>
        <ul class="list--unstyled list--inline header__list text--center">

      <li>
        <a {% if page.label == pg.label %} class="active" {% endif %} href="http://github.com/rashid2003/"><i class="fab fa-github"></i></a>
      </li>
      <li>
        <a {% if page.label == pg.label %} class="active" {% endif %} href="http://twitter.com/rashid_obaidi/"><i class="fab fa-twitter"></i></a>
      </li>
       <li>
        <a {% if page.label == pg.label %} class="active" {% endif %} href="http://instagram.com/rashed_obaide/"><i class="fab fa-instagram"></i></a>
      </li>
    </ul>


  </nav>

</header>
