---
layout: default
---

{% assign author = site.data.categories[page.category] %}

{% assign tweet_url = "https://twitter.com/home?status=" | append: site.url | append: page.url %}

{% assign tweet_url = "https://twitter.com/intent/tweet?url=" | append: page.url | append: "&via=" | append: site.url | append: "&text=" | append: page.title %}

{% assign telegram_url = "https://telegram.me/share/url?url=" | append: site.url | append: page.url %}
{% assign facebook_url = "https://facebook.com/share/url?url=" | append: site.url | append: page.url %}

<article class="post post--single">
  <h1 class="post__title post__title--single">{{ page.title }}</h1>

  <div class="post__info">
    <span>
      <span class="lazyimage">
        <img
          onload="window.pr.methods.addClass('img-loaded', this.parentNode)"
          onerror="window.pr.methods.addClass('img-error', this)" src="{{ site.url }}{{ category.avatar }}"
          alt="{{ caegory.fa_name }}"
          class="img-rounded post__info__figure inline--middle"
        >
      </span>
      <span class="inline--middle post__author"><a href="{{ site.url }}/category/{{ category.unique_id }}">{{ category.fa_name }}</a></span>
    </span>
    <small><em>{{ page.pdate | date: "%-d / %-m / %Y" }}</em></small>
  </div>

  <div class="post__share text--left">
    <ul class="list--unstyled list--inline">
      <li><a class="button button--with-icon" target="_blank" href="{{ tweet_url }}">
        <i class="fab fa-twitter"></i>
        توییتر
      </a></li>
      <li><a class="button button--with-icon" target="_blank" href="{{ telegram_url }}">
        <i class="fab fa-telegram"></i>
        تلگرام
      </a></li>
            <li><a class="button button--with-icon" target="_blank" href="{{ facebook_url }}">
        <i class="fab fa-facebook"></i>
        فیسبوک
      </a></li>
    </ul>
    
      <nav class="post__tags post__tags--single">
        <b>دسته بندی :</b>
        <ul class="list--unstyled list--inline">
 {% if page.category.size > 0 %}
     <i class="fas fa-tags"></i>
      <nav class="post__tags post__tags--single">
        <ul class="list--unstyled list--inline">
        {% for tag in page.category %}
          <li>#{{ category }}</li>
        {% endfor %}
        </ul>
      </nav>
    {% endif %}
        </ul>
      </nav>
    {% endif %}
        </ul>
      </nav>

  </div>

  <div class="post__entry post__entry--single">
    {{ content }}
  </div>

  <div class="post__share text--center">
     {% if page.tags.size > 0 %}
        <i class="fas fa-tags"></i>
      <nav class="post__tags post__tags--single">
        <ul class="list--unstyled list--inline">
        {% for tag in page.tags %}
          <li>#{{ tag }}</li>
        {% endfor %}
        </ul>
      </nav>
    {% endif %}
    <ul class="list--unstyled list--inline">
      <li><a class="button button--with-icon" target="_blank" href="{{ tweet_url }}">
        <i class="fab fa-twitter"></i>
        توییتر
      </a></li>
      <li><a class="button button--with-icon" target="_blank" href="{{ telegram_url }}">
        <i class="fab fa-telegram"></i>
        تلگرام
      </a></li>
            <li><a class="button button--with-icon" target="_blank" href="{{ facebook_url }}">
        <i class="fab fa-facebook"></i>
        فیسبوک
      </a></li>
    </ul>
  </div>
  {% include emojiparser.html %}
  {% include disqus.html %}
</article>
